[merge "unityyamlmerge"]
	name = Unity SmartMerge (UnityYamlMerge)
	driver = \"C:\Program Files\Unity\Hub\Editor\2022.3.8f1\Editor\Data\Tools\UnityYAMLMerge.exe\" merge -h -p --force --fallback none %O %B %A %A
	recursive = binary